.weather-forecast {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  padding: 20px;
  border-radius: 10px;
}
.saved-city {
  padding: 7px;
}
.current-location {
  text-align: center;
  margin-top: 20px;
}
h1 {
  font-size: 50px;
}
.weather-status {
  text-transform: capitalize;
}
.current-temperature {
  font-size: 60px;
}
.current-temperature-unit {
  font-size: 20px;
  position: relative;
  top: -30px;
}
.temperature-unit {
  text-decoration: none;
}
.current-weather {
  font-size: 90px;
  position: relative;
  right: -150px;
  bottom: -30px;
}
.current-data {
  margin-top: 20px;
  position: relative;
  right: -50px;
}
.detail {
  line-height: 20px;
}
.list {
  list-style: none;
}
.icon {
  font-size: 40px;
  margin-bottom: 0;
}
.footer {
  text-align: center;
  font-family: monospace;
  font-size: 13px;
}
.coder-name {
  color: #5e6769;
}
.code-source {
  text-decoration: none;
}
